#content {
   width: 1200px;
   height: auto;
}
table {
    border-collapse: collapse;
    width: 60%;
}
table td {
    height: 30px;
    overflow: hidden;
}
table thead {
    text-align: center;
    background-color: #b7b7b7;
}
table .status {
    text-align: center;
}
table .comment {
    font-size: 12px;
    width: 170px;
}
img.circle {
    width: 20px; 
}
div.info, div.error, div.warning {
    width: 58%;
    border: 1px solid;
    border-radius: 5px;
    border-color: #649d63;
    padding-bottom: 5px;
    font-size: 20px;
    padding-left: 20px;
    padding-top: 5px;
    position: fixed;
    top: 20px;
    z-index: 5;
    cursor: pointer;
}
div.info {
    background-color: #c0e6bf; 
}
div.warning {
    background-color: #f3e814;
}
div.error {
    background-color: #fcc7c6; 
}
div.small {
    font-size: 11px;
}
form.add_folder {
    padding-top: 20px;
}
div.folders, div.title, div.library {
    width:auto;
    padding:10px;
    display:table;
    white-space: nowrap;
    border-collapse: collapse;
}
div.theader div.td {
   padding-left: 5px;
   padding-right: 5px;
   text-align: center;
   border-bottom:1px dotted #c9c9c9;
}
div.folders div.theader div.td {
   font-size: 10px; 
}
div.option {
    min-width:60px;
    text-align: center;
}
div.episodes .theader img {
    width:15px;
    position: relative;
    cursor: pointer;
    padding: 5px;
    top: 2px;
}
div.episodes .theader img:hover {
   border-radius: 2px;
   background-color:rgba(243, 205, 20, 0.35);
}
div.episodes .ep-id-header > div:first-child {
    width: 50%;
    float:left;
    padding-top: 5px;
    padding-bottom: 5px;
}
div.ep-id {
    text-align: center;
    min-width: 35px;
}
div.ep-title {
    min-width: 300px;
    padding-left: 10px;
    padding-right: 10px;
}
.folder.tr div.option:hover, .episodes .tr div.option:hover {
    background-color:rgba(243, 205, 20, 0.35);
    border-radius: 5px;
}
div.id-edit {
    position: absolute;
    padding: 20px;
    z-index: 5;
    background-color: white;
    border-radius: 5px;
    border: 1px dotted #c9c9c9;
} 
div.ep-id input[type='text'] {
    width:18px;
}
div.ep-id.failed {
    background-color: #fea4b2;
    border-radius: 5px;
}
div.td {
    display:table-cell;
    vertical-align: middle;
    height: 34px;
    position:relative;
}
div.td.folder-link:hover, div.td.ep-id:hover {
    cursor:pointer;
    text-decoration: underline;
    background-color:rgba(243, 205, 20, 0.35);
    border-radius: 5px;
    padding-right:10px;
}
div.td.folder-link {
    padding-left:10px;
    position:relative;
}
div.td img {
    width:30px;
    max-height: 30px;
}
div.td .small img {
    width:12px;
    max-height: 12px;
}
div.library img {
    cursor: pointer;
    width:20px;
    max-height: 20px;
    padding: 4px;
    position: relative;
    border-radius: 5px;
    top: 1px;
}
div.library .tr {
    border-top: 1px dotted #c9c9c9;
    border-bottom: 1px dotted #c9c9c9;
}
div.library .tr:first-child {
    border-top: none;
}    
div.library .tr:last-child {
    border-bottom: none;
} 
div.library img:hover {
    background-color:rgba(243, 205, 20, 0.35);
}
div.library img.edit {
    display:none;  
}
div.library div.td.title {
    min-width: 500px;
    max-width: 500px;
    width:auto;
    overflow: hidden;
    text-overflow: ellipsis;
}
div.library div.td.seasons {
    min-width:200px;
    text-align: right;
}
div.library div.td.manage {
    width:60px;
}
div.library .seasons .small > div {
    padding-top: 5px;
    padding-bottom: 5px;
}
div.td img.child {
    position:relative;
    /* margin-top: -15px; */
}
div.tr {
    display: table-row;
    width: 100%;
}
div.title.episodes div.tr div.td, div.library div.tr div.td {
    padding-left: 5px;
    padding-right: 5px; 
}

img.wait {
    position: absolute;
    z-index: 10;
}
div.folders img.wait {
    left: 5px;
    margin-top: 7px;
}
div.folder input.ajax_loaded {
    position: relative;
}
div.links {
    width: 100%;
    min-height: 30px;
}
div.links.add, div.links.parse {
    background-color: white;
}
div.link {
    text-decoration: underline;
    cursor: pointer;
    padding: 10px;
    float: left;
}
div.link:hover {
    background-color:rgba(243, 205, 20, 0.35);
    border-radius: 5px; 
}
div.links.add.overlay, div.links.parse.overlay {
    position:fixed;
    bottom:0px;
    z-index:5;
    border-top:2px dotted #c98939;
}
div.footerplace {
    padding-bottom: 30px;
}